<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Data Collector</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
  </head>
  <body>
    <div id="app" class="fullscreen">
      <div class="column" v-if="data == 'no data'">
        <form class="card column" @submit.prevent="getData()">
          <md-field>
            <label>URL</label>
            <md-input v-model="url"></md-input>
          </md-field>
          <md-button class="md-primary md-raised button" @click="getData()">GET DATA</md-button>
        </form>
        <h2>Enter a URL</h2>
        <ul>
          <li><h3>Eg: https://www.google.com</h3></li>
          <li><h3>Make sure it's the full URL.  Don't forget the http(s):// at the start!</h3></li>
          <li><h3>You can copy and paste a link to your favorite website.</h3></li>
        </ul>
      </div>
      <div class="loadIcon column fixed" v-else-if="data == 'loading'">
        <div id="cornerWrapper" class="wrapper">
          <div class="rowWrapper">
            <div class="corner"></div>
            <div class="corner"></div>
          </div>
          <div class="rowWrapper">
            <div class="corner"></div>
            <div class="corner"></div>
          </div>
        </div>
      </div>
      <div v-else-if="!data" class="column">
        <h1>Could not reach "{{url}}"!</h1>
        <h2>Make sure you typed the URL correctly</h2>
        <h2>You can copy and paste one for your favorite website</h2>
        <md-button class="md-primary md-raised" @click="goBack()">GO BACK</md-button>
      </div>
      <div v-else class="column">
        <div class="list">
          <h2>{{data.url}}</h2>
          <h2>Response Time: {{data.ping}}s</h2>
          <h2>HTTPS: {{data.ssl}}</h2>
          <h2>Number of Errors: {{data.errors}}</h2>
          <canvas id="chart" width="800" height="400"></canvas>
        </div>
        <md-button class="md-primary md-raised" @click="goBack()">GO BACK</md-button>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
